<%= render 'shared/top_menu' %>
<table style="width: 1350px; margin-left: 10px;">
  <tr>
    <td>
      <h1>Logistics</h1>
    </td>
    <p>I am buyin x amounts of y from z</p>
    <p>I am using it to make x</p>
    <p>I am selling x for y on the market</p>
    <p>My margin is X</p>
  </tr>
</table>
