<%= render 'shared/top_menu' %>
<table style="width: 1350px; margin-left: 10px;">
  <td>Welcome to PROTOTYPE - This page for blurb, advertising</td>
  <td>Quick Search</td>
  <td>Newest Offers</td>
</table>
